page-register {
  ion-content {
    text-align: center;
  }
  h4 {
    color: grey;
  }

  #home {
    background-color: rgb(64,195,253);
    color: white;
  }
  #banner {
    margin-top: 5em;
    margin-bottom: 5em;
  }

}
